##
## nginx config example
##
## replace customcmf and paths
##

server {
        listen   80;
        server_name customcmf;

        if ($request_filename !~ "\.(js|ico|txt|gif|jpg|jpeg|png|css|html|php|rar|zip|gz|map)$") {
          rewrite ^(.*) /index.php;
        }
        access_log  /var/www/customcmf/logs/access.log;
        error_log  /var/www/customcmf/logs/error.log;

        root /var/www/customcmf/www/public;
        index index.php index.html index.htm;

        location ~ .php$ {
                fastcgi_param APPLICATION_MODE development;
                fastcgi_split_path_info ^(.+\.php)(.*)$;
                fastcgi_pass   unix:/var/run/php5-fpm.sock;
                fastcgi_index  index.php;
                include fastcgi_params;
                fastcgi_param  QUERY_STRING     $query_string;
                fastcgi_param  REQUEST_METHOD   $request_method;
                fastcgi_param  CONTENT_TYPE     $content_type;
                fastcgi_param  CONTENT_LENGTH   $content_length;
                fastcgi_intercept_errors        on;
        }
}
