{% set attr = object.getAttributes().setItem('form-control', 'class') %}
<div class="form-group{% if object.isBroken() %} has-error{% endif %}">
    {% if object.title %}
        <label class="control-label">{{ object.title }}
            {% if object.required %}<span class="required">*</span>{% endif %}
        </label>
    {% endif %}
    <{{ object.tagName() }}{{ render(object.attributes) }} />
    {{ render(object.messages) }}
</div>
