{% set lng = lng(object) %}
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3>{{ lng.pageNotFound }}</h3>
        </div>
        <div class="panel-body">
            {{ lng.checkURL }}
        </div>
    </div>
</div>
