{% set style = this.getHelper('Style')
    .addStyle('css/bootstrap.css', 'Twitter/Bootstrap')
    .addStyle('css/bootstrap-theme.css', 'Twitter/Bootstrap')
%}

<div class="page-header">
    {{ blockContainer('top') }}
</div>

{% autoescape false %}
    {{ this.getHelper('MessageBox').render() }}
    <h1>Custom layout for index controller</h1>
    {{ content }}
{% endautoescape %}

<footer>
    <div class="container">
        footer
    </div>
</footer>
