{% set lng = lng(object) %}
<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{ lng.login }}
            </div>
            <div class="panel-body">
                {{ render(form) }}
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>